@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300;400;500;600;700;800;900&display=swap');

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Darker Grotesque', sans-serif;
  color:#262626;
  cursor: default;
  font-size: 20px;
  line-height: 1.6rem;
  background: #ffffff;
}

h1 {
  position: absolute;
  top: 16px;
  left: 16px;
  margin: 0;
  color: #d9d9d9;
  mix-blend-mode: difference;
}

h2 {
  margin-top: 1rem;
}

h2,
h3 {
  margin-bottom: 0.1rem;
}

div.wrapper {
  width: 100vw;
  height: 100vh;
  padding: 32px;
  overflow: hidden;

}

main.canvas {
  max-width: 100%;
  max-height: 100%;
  display: flex;
  overflow: scroll;
  height: 100vh;
}

canvas {
  display: block;
}

.settings-panel {
  position: absolute;
  overflow: scroll;
  top: 16px;
  bottom: 16px;
  right: 16px;
  padding: 32px;
  max-width: 400px;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 8px;

  background: rgba(38, 38, 38, 0.9);
  color: #ffffff;
  /* border-radius: 12px; */
  box-shadow: rgba(0, 0, 0, 0.3) -13px 13px 27px -5px, rgba(0, 0, 0, 0.3) -8px 8px 16px -8px;
  backdrop-filter: blur(1px);
  transition: max-height 0.5s cubic-bezier(0.83, 0, 0.17, 1), max-width 0.5s cubic-bezier(0.83, 0, 0.17, 1);
}

.settings-panel * {
  transition: opacity 0.2s 0.2s cubic-bezier(0.83, 0, 0.17, 1);
  line-height: 100%;
}

.toggle-panel {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 48px;
  height: 48px;
  line-height: 48px;
  text-align: center;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  /* border-radius: 6px; */
  z-index: 2;
  transition: all 0.5s cubic-bezier(0.83, 0, 0.17, 1);
}

.toggle-panel:hover {
  background: #262626;
  color: #262626;
  opacity: 0;
}

.toggle-panel:hover + .settings-panel {
  /* margin-top: -100%; */
  max-height: 24px;
  max-width: 24px;
}

.toggle-panel:hover + .settings-panel * {
  opacity: 0;
  transition: opacity 0.2s cubic-bezier(0.83, 0, 0.17, 1);

}

.setting {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}

input[type="color"] {
  appearance: none;
  background: transparent;
  border: none;
  height: 36px;
  width: 72px;
  padding: 0;
  cursor: pointer;
}

input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}

input[type="color"]::-webkit-color-swatch {
  border: none;
  border: 1px solid #ffffff;
}

input[type="button"]:hover {
  background: transparent;
  color: #ffffff;
}

input[type="button"]:active {
  background: rgb(76, 76, 76);
  color: #ffffff;
}

input[type="button"] {
  appearance: none;
  background: #ffffff;
  border: 1px solid #ffffff;
  padding: 8px 12px;
  color: #262626;
  cursor: pointer;
  transition: background 0.2s ease-out, color 0.2s ease-out, opacity 0.5s cubic-bezier(0.83, 0, 0.17, 1);
  text-transform: uppercase;
}

input[type="text"] {
  appearance: none;
  background: transparent;
  color: #ffffff;
  border: 1px solid #ffffff;
  padding: 8px 12px;
}

input {
  font-family: 'Darker Grotesque', sans-serif;
  line-height: 100%;
  font-size: 16px;
  font-weight: 600;
}